.Login{
  background-color: #dfdfdf;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.logo{
  position: absolute;
  top: 80px;
  left: 80px;
  width: 200px;
  height: 100px;
  background: url('../../static/logo.png') no-repeat;
  background-size: contain;
}
.loginBox{
  width: 400px;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding: 30px;
  border-radius: 4px;
}
.btn{
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
}
.btn .sign-in{
  padding: 15px;
  color: #969696;
}
.btn .sign-out{
  padding: 15px;
  color: #969696;
}
.input{
  padding: 20px;
}
.input Input{
  margin-bottom: 20px;
}
.input Button{
  background-color: #009900;
}

.active{
  font-weight: 700;
  color: #ea6f5a;
  border-bottom: 2px solid #ea6f5a;
}